<a href="https://colab.research.google.com/github/bravoeight98/BanFakeNewsNLP_test/blob/main/BanFakeNewsNLP_test.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Declaring Dataset

In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/content/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/content/input/Fake-1K.csv
/content/input/Authentic-48K.csv

In [3]:
fake_data = pd.read_csv("/content/input/Authentic-48K.csv")
true_data = pd.read_csv("/content/input/Fake-1K.csv")

In [4]:
fake_data.head(5)

   articleID  ... label
0          1  ...     1
1          2  ...     1
2          3  ...     1
3          4  ...     1
4          5  ...     1

[5 rows x 7 columns]

In [5]:
true_data.head(5)

   articleID  ... label
0          1  ...     0
1          2  ...     0
2          3  ...     0
3          4  ...     0
4          5  ...     0

[5 rows x 7 columns]

#Data Preprocessing

In [6]:
#Creating labels for classification 
fake_data["Label"] = 0
true_data["Label"] = 1

In [7]:
#Taking a sample of the data (You can also take fully but will take longer time according to CPU Power)
data = pd.concat([fake_data.iloc[:2000,:],true_data.iloc[:2000,:]], axis=0,ignore_index = True)

In [8]:
data.head()

   articleID          domain  ... label Label
0          1  jagonews24.com  ...     1     0
1          2  jagonews24.com  ...     1     0
2          3  jagonews24.com  ...     1     0
3          4  jagonews24.com  ...     1     0
4          5  jagonews24.com  ...     1     0

[5 rows x 8 columns]

In [9]:
data.shape

(3299, 8)

In [12]:
data.category.unique()

array(['Education', 'National', 'Crime', 'Entertainment', 'Finance',
       'International', 'Sports', 'Miscellaneous', 'Politics',
       'Lifestyle', 'Technology', 'Editorial'], dtype=object)

In [13]:
data.isnull().sum()

articleID    0
domain       0
date         0
category     0
headline     0
content      0
label        0
Label        0
dtype: int64

In [14]:
#Dropping unnecessary variables
data.drop(["headline","category","date"], axis=1, inplace=True)

In [15]:
data.head()

   articleID          domain  ... label  Label
0          1  jagonews24.com  ...     1      0
1          2  jagonews24.com  ...     1      0
2          3  jagonews24.com  ...     1      0
3          4  jagonews24.com  ...     1      0
4          5  jagonews24.com  ...     1      0

[5 rows x 5 columns]

In [17]:
data.content[6]

'শ্রমিক-কর্মচারীদের ব্যবস্থাপনায় হস্তান্তরিত বস্ত্রকলগুলো সুষ্ঠু পরিচালনার জন্য সরকারের সহায়তা চেয়েছেন এই মিলগুলোর সমন্বয় পরিষদ। বুধবার শিল্প মন্ত্রণালয়ে শিল্পমন্ত্রী আমির হোসেন আমুর সঙ্গে বৈঠকের সময় এ সহায়তা চান হস্তান্তরিত ৯টি বস্ত্র মিলস সমন্বয় পরিষদের নেতারা। এগুলো সুষ্ঠু পরিচালনার স্বার্থে ২০১৪ সালের অক্টোবরে বস্ত্র ও পাট মন্ত্রণালয় পরিদর্শনকালে প্রধানমন্ত্রীর দেয়া নির্দেশনা দ্রুত বাস্তবায়নের দাবি জানিয়েছেন তারা। বৈঠকে হস্তান্তরিত বস্ত্রকলগুলোর বর্তমান সমস্যা এবং এর সমাধানের উপায় নিয়ে আলোচনা হয়। এ সময় পরিষদের নেতারা বলেন, উন্নত ব্যবস্থাপনার জন্য প্রধানমন্ত্রী শেখ হাসিনার নির্দেশনায় ২০০১ সালে ২১ মার্চ নয়টি বস্ত্রকল শ্রমিক-কর্মচারীদের মালিকানায় হস্তান্তর করা হয়েছিল। পরবর্তীতে বিএনপি-জামায়াত সরকারের আমলে বিমাতাসুলভ আচরণের ফলে এগুলো ধীরে ধীরে অলাভজনক ও রুগ্ন শিল্পে পরিণত হয়েছে। সুষ্ঠু পরিচালনার স্বার্থে শ্রমিক কর্মচারীদের পক্ষ থেকে মিলগুলোকে বিএমআরই এবং ব্যাংকঋণ প্রদানের প্রস্তাব করলেও বিএনপি সরকারের আমলে তা প্রত্যাখ্যাত হয়। শিল্পমন্ত্রী বলেন, বর্তমান সরকার শ্রমিকবান্ধব সরকার। ইতোমধ্যে শ্রমিকদের ন্যূনতম মজুরি ৮ হাজার টাকা নির্ধারণ করা হয়েছে। শ্রমিকদের মালিকানা ও অধিকার প্রতিষ্ঠায় প্রধানমন্ত্রী শেখ হাসিনা ১৯৯৬ সালে ৯টি বস্ত্র কল শ্রমিক কর্মচারী ব্যবস্থাপনায় ছেড়ে দিয়ে অনন্য নজির স্থাপন করেছিলেন। মন্ত্রী এসব বস্ত্রকলের বাস্তব সমস্যাগুলো সুনির্দিষ্টভাবে লিখিত আকারে তুলে ধরার জন্য নেতৃবৃন্দকে পরামর্শ দেন। এর ভিত্তিতে সংশ্লিষ্ট মন্ত্রণালয় ও সংস্থার সঙ্গে আলোচনা করে সমস্যার কার্যকর সমাধান করা হবে বলে তিনি সমন্বয় পরিষদের নেতাদের আশ্বস্ত করেছেন। শিল্প মন্ত্রণালয়ের ভারপ্রাপ্ত সচিব মো. আবদুল হালিম, অতিরিক্ত সচিব মো. এনামুল হক, বাংলাদেশ বস্ত্র ও পোশাক শিল্প শ্রমিক লীগের সভাপতি জেডএম কামরুল আনাম, সূতা ও বস্ত্র কল্যাণ শ্রমিক ফেডারেশনের সভাপতি বদরুল আলম খান লাভলু, নিউ ঢাকা কটন মিলস্’র প্রতিনিধি আবুল কাসেম পাটোয়ারী ও মোখলেছুর রহমান, নিউ অলিম্পিয়া টেক্সটাইলের প্রতিনিধি মতিউর রহমান, নিউ মেঘনা টেক্সটাইলের প্রতিনিধি নূরুল ইসলাম ও জাহিদ আল মামুন, নিউ মুন্নু ফাইন কটন মিলস্রে প্রতিনিধি মিজানুর রহমান ও হারুনুর রশিদ, মডার্ন পাইলন ইন্ডাস্ট্রিজের প্রতিনিধি আব্দুল মাজেদ চৌধুরী এবং মডার্ন ন্যাশনাল কটন মিলের প্রতিনিধি মো. সফি ও কানু রাম বৈদ্য বৈঠকে উপস্থিত ছিলেন। এসআই/জেডএ/জেআইএম'

In [18]:
#Creating independent and dependent variables
X = data.drop(["Label"],axis=1)
y = data["Label"]

In [19]:
X.head()

   articleID  ... label
0          1  ...     1
1          2  ...     1
2          3  ...     1
3          4  ...     1
4          5  ...     1

[5 rows x 4 columns]

In [20]:
y.head()

0    0
1    0
2    0
3    0
4    0
Name: Label, dtype: int64

In [21]:
X.columns

Index(['articleID', 'domain', 'content', 'label'], dtype='object')