<a href="https://colab.research.google.com/github/bravoeight98/BanFakeNewsNLP_test/blob/main/BanFakeNewsNLP_test.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Declaring Dataset

In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/content/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/content/input/Fake-1K.csv
/content/input/Authentic-48K.csv

In [3]:
fake_data = pd.read_csv("/content/input/Authentic-48K.csv")
true_data = pd.read_csv("/content/input/Fake-1K.csv")

In [4]:
fake_data.head(5)

   articleID  ... label
0          1  ...     1
1          2  ...     1
2          3  ...     1
3          4  ...     1
4          5  ...     1

[5 rows x 7 columns]

In [5]:
true_data.head(5)

   articleID  ... label
0          1  ...     0
1          2  ...     0
2          3  ...     0
3          4  ...     0
4          5  ...     0

[5 rows x 7 columns]

#Data Preprocessing

In [6]:
#Creating labels for classification 
fake_data["Label"] = 0
true_data["Label"] = 1

In [7]:
#Taking a sample of the data (You can also take fully but will take longer time according to CPU Power)
data = pd.concat([fake_data.iloc[:2000,:],true_data.iloc[:2000,:]], axis=0,ignore_index = True)

In [8]:
data.head()

   articleID          domain  ... label Label
0          1  jagonews24.com  ...     1     0
1          2  jagonews24.com  ...     1     0
2          3  jagonews24.com  ...     1     0
3          4  jagonews24.com  ...     1     0
4          5  jagonews24.com  ...     1     0

[5 rows x 8 columns]

In [9]:
data.shape

(3299, 8)